data/*
saved_weights/*
multi-omics-data-processing/*
*.ipynb
figs/*.ps
predictions/
history/
mlp_test/*
.idea/*
.ipynb_checkpoints/
__pycache__/
archive/*
*.Rhistory
model_save/*/*/*.csv
model_save/*/*/*/*.csv
model_save/*/*/*/*/*.csv
model_save/*/*/*.pt
model_save/*/*/*/*.pt
model_save/*/*/*/*/*.pt
model_save/*/*/*.pickle
model_save/*/*/*/*.pickle
model_save/*/*/*/*/*.pickle
model/*.pt
